<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Test PHP Travels" preserve-order="true">
    <classes>
      <class name="com.phptravels.PhpTravelsTest">
          <methods>
              <include name="verifyHomePage"/>
              <include name="testHomePageFrontEnd"/>
			  <include name="testLoginToDemo"/>
              <!--include name="testSelectingFlights"/>
              <include name="testSelectingTours"/>
              <include name="testCarsLink"/>
              <include name="testHotelsLink"/>
              <include name="testSelectHotelFromMenu"/-->
         </methods>
      </class>
    </classes>
  </test>  
</suite>